
/*ARCHIVE PAGES*/

  /* ARCHIVE BODY */

  .archive {
    overflow-y:visible;
    height:content;
    min-height:100vh;
  }


  /* ARCHIVE > HEADER [DESKTOP] */

    /* ARCHIVE > HEADER IMAGE > OUTER WRAPPER */

    .category.archive #custom-header-media {
        display:block;
        height:min-content;
        max-height: 200px;
        min-height:unset;
        margin-top:50px;
    }

    /* ARCHIVE > HEADER IMAGE > INNER WRAPPER */

    .archive .rt-slider-wrapper {
        display:block;
        height:min-content;
        max-height:min-content;
        min-height:min-content;
        position:relative;
        overflow:hidden;
    }
  
  
  /* ARCHIVE MAIN */


  .archive #main {
    width:100vw;
    height:content;
    top:0;
    left:0;
    padding:0 2vw;
    border:0 0;
    margin:0 0;
    position:relative;
    display:flex;
    flex-direction:row;
    justify-content: left;
    align-content: center;
    margin-top:0px;
    padding-top:20px;
    overflow:visible;
    border-top:0px;
    flex-wrap:wrap;
  }

  .archive .entry-container {
    width:100%;
    height:min-content;
    min-height:min-content;
    max-height:min-content;
    overflow: visible;
    padding:0 0;
    margin:0 0;
    border:0 0;
    display:block;
    position:relative;
    z-index:2000;

  }

  .archive #content {
    margin-top:0px;
    width:100vw;
  }


  .archive .rt-wrapper h2 span {
    display:none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
  }


  /* ARCHIVE MAIN > ARCHIVE POST */

    /* ARCHIVE > POSTS > INDIVIDUAL POST WRAPPER */

    .archive #main article {
      display:flex;
      flex-direction:column;
      align-items: flex-start;
      padding:0 0;
      padding-bottom:0px;
      overflow:visible;
      padding:0 0;
      -webkit-box-shadow: none ;
      -moz-box-shadow: none ;
      box-shadow: none ;
      height:content;
    }

    .archive #main:nth-of-type(1) {
      border-top:none;
    }

    /* ARCHIVE > POSTS > HEADER > OUTER WRAPPER*/

    .archive #main .entry-header {
      height:0px;
      max-height:0px;
      width:100%;
      margin-top:0px;
      margin-left:-10px;
      overflow:visible;
      padding:0 0;

    }

    /* ARCHIVE > POSTS > HEADER > INNER WRAPPER*/



    .archive #main .entry-title {
      overflow:visible;
      height:inherit;
      -webkit-user-select: none; /* Safari */
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* IE10+/Edge */
      user-select: none; /* Standard */
      font-size: 3.2vw;
      line-height: 3.2vw;
      width:44vw;
      width:100%;
      max-width:100%;
      height:min-content;
    }

    .archive #main h2 a,
    .archive #main h2 a {
      font-size: 3.2vw;
      line-height: 3vw;
      bottom:27.13vw;
      position:relative;
      text-transform: uppercase;
    }

    .archive #main h2 a span:nth-of-type(1),
    .archive #main h2 a span:nth-of-type(2) {
      font-family: "uniongrotesk";
      /*text-shadow: 1px 1px white;*/
      /*text-shadow: 0px 0px black, 2px 2px black;*/
      font-weight: normal;
      width:100%;
      min-width:100%;
    }

    /* ARCHIVE > POSTS > HEADER > TEXT*/

    .archive article .entry-container .entry-header h2 #hspan3 {
      width:110%;
      min-width:110%;
      max-width:110%;
      font-family: "uniongrotesk";
      color: white;
      -webkit-text-stroke-width: .9px;
      -webkit-text-stroke-color: black;
      /*text-shadow: 1px 1px white;*/
      /*text-shadow: 0px 0px black, 2px 2px black;*/
      font-weight: normal;
      font-size: 3.2vw;
      line-height: 3vw;
      margin:0 0;
      border:0 0;
      padding:0 0;
      position:relative;
      z-index:6000;
      letter-spacing: 0px;
      word-break: break-word;
      -ms-word-break: break-word;
      word-wrap: break-word;
      overflow-wrap: break-word;
      hyphens:auto;
      -ms-hyphens:auto;
      -moz-hyphens:auto;
      -webkit-hyphens:auto;
      overflow:visible;
      hyphens:none;
      -ms-hyphens:none;
      -moz-hyphens:none;
      -webkit-hyphens:none;
                      text-transform: capitalize;
    }

    /* ARCHIVE > POSTS > HEADER > TEXT > HIDDEN SPANS */

    .archive #main .entry-title a span:nth-of-type(1),
    .archive #main .entry-title a span:nth-of-type(2) {
      font-family: "uniongrotesk";
      color: white;
      -webkit-text-stroke-width: .9px;
      -webkit-text-stroke-color: orange;
      font-weight: normal;
      margin:0 0;
      border:0 0;
      padding:0 0;
      position:relative;
      z-index:6000;
      word-break: break-word;
      -ms-word-break: break-word;
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      hyphens: auto;
      width:100%;
      min-width:100%;
    }

    .archive .entry-title a span:nth-of-type(2) {
      display:none;
    }

    .archive .entry-header .entry-titlesecond #entxt {
      display:none;
    }

    .archive h3.entry-title>a span {
      font-size: 23px;
      line-height:.55;
      display:inline-block;
      text-shadow: .8px .8px white, 0px 0px orange, 1.8px 1.8px orange;
      width:44vw;
    }
    /* ARCHIVE > POSTS > HEADER > TEXT > HOVER MODIFIER */


    /* ARCHIVE > POSTS > IMAGES */

      /* ARCHIVE > POSTS > IMAGES > GREY OVERLAY */

      .archive .entry-container #goverlay {
        display:none;
        position:relative;
        width:100%;
        min-height:200px;
        height:200px;
        margin-top:0px;
        top:0;
        background:linear-gradient(0deg, rgba(255,255,255,0) 18%, rgba(0,0,0,1) 94%);
        opacity:.3;
        z-index:2000;
        mix-blend-mode:unset;
      }

      /* ARCHIVE > POSTS > IMAGE > OUTER WRAPPER */

      .archive #featuredthumb {
        width:100%;
        height:26vw;
        overflow:hidden;
        position:relative;
      }


      /* ARCHIVE > POSTS > IMAGE > INNER WRAPPER */

      .archive #featuredthumb .post-thumbnail {
        width:100%;
        height:100%;
        min-width:100%;
        min-width:100%;
        overflow-y:hidden;
        display:block;
        position:relative;
      }

      /* ARCHIVE > POSTS > IMAGE */

      .archive .post-thumbnail .wp-post-image {
        min-width:100%;
        min-height:100%;
        height:100%;
        width:100%;
        max-width:100%;
        max-height:100%;
        margin:0 0;
        padding:0 0;
        position:relative;
        object-fit: cover;
        filter:brightness(95%) contrast(95%);
      }


  /* ARCHIVE POST > ENTRY META */

  .archive .entry-container .entry-meta {
    margin-top:8px;
    margin-bottom:5px;
    padding:0 0;
  }

  .archive .entry-container .entry-meta .cat-links,
    .archive .entry-container .entry-meta ::before{
    display:none;
  }

  /* ARCHIVE POST > ENTRY META > HIDDEN META */

  .archive .author-meta {
    display:none;
  }

  .archive .cat-links {
    display:none;
  }

.archive .entry-meta .posted-on::after {
    color:silver;
    display:none;
  }


  /* ARCHIVE POST TEXT > OUTER WRAPPER*/

  .archive .entry-content {
    width:97%;
    height:content;
    display:inline-block;
    white-space:normal;
    overflow:hidden;
    display:inline-flex;
    align-self: flex-start;
    color:rgba(35, 35, 35);
    z-index:100;
    margin:0 0;
    padding:0 0;
    margin-left:1px;
    margin-top:-10px;
    font-weight:300;
    font-family:"work sans";
    font-size:17.5px;
    position:relative;
    float:left;
    top:0px;
  }

  /* ARCHIVE > POSTS > ENTRY TEXT */

  .archive #spanwrap {
    white-space:normal;
    color:rgba(70, 70, 70);
    z-index:100;
    font-weight:300;
    font-family:"work sans";
    font-size:17.5px;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    -webkit-touch-callout: rgba(255,165,0,.2);
    -webkit-user-select: rgba(255,165,0,.2);
    -khtml-user-select: rgba(255,165,0,.2);
    -moz-user-select: rgba(255,165,0,.2);
    -ms-user-select: rgba(255,165,0,.2);
    user-select: rgba(255,165,0,.2);
    -webkit-tap-highlight-color: rgba(255,165,0,.2);
  }

  .archive .entry-meta a,
  .archive .entry-meta .tags-links>a,
  .archive .entry-meta .posted-on>a,
  .archive .entry-meta .cat-links>a,
  {
    font-size:17px;
    color:silver;
    font-family:"work sans";
    font-weight:400;
    text-transform:uppercase;
    cursor:pointer;
    width:auto;
    height:10px;
    height:content;
    position:relative;
  }



  /* ARCHIVE ; MOBILE */

  @media (min-width: 0px) and (max-width: 700px) {

    /* ARCHIVE BODY [M] */

    .archive #main article {
      margin:0 0;
      padding:5px 5px;
      margin-bottom:7px;
      padding-top:0px;
    }


    /* ARCHIVE > HEADER [M] */

      /* ARCHIVE > HEADER IMAGE > OUTER WRAPPER [M] */

      .archive.category #custom-header-media {
        display:block;
        margin-top:50px;
        height:155px;
      }

      .archive.category .rt-slider-wrapper {
        height:inherit;
        min-height:inherit;
        max-height:inherit;
      }

      /* ARCHIVE > HEADER IMAGE > IMAGE + TEXT WRAPPER [M] */

      .archive.category .slide-item {
        display:block;
        height:inherit;
        max-height:unset;
        min-height:unset;
        display:flex;
        flex-direction:column;
        justify-content: center;
      }

      /* ARCHIVE > HEADER IMAGE > TEXT > OUTER WRAPPER [M] */

      .archive .slide-item .entry-header {
      }

      /* ARCHIVE > HEADER IMAGE > TEXT > INNER WRAP [M] */

      .archive.category .slide-item h2 {
        height:180px;
        max-height:180px;
        min-height:180px;
      }

      .archive.category .slide-item .entry-title {
        height:180px;
        min-height:180px;
        max-height:180px;
        top:unset;
        overflow-y:visible;
        padding-bottom:0;
        border-bottom:0px;
        margin-bottom:0;
        border:none;
        font-size:10vw;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:left;
        position:relative;
        line-height:7vw;
        padding-top:0;
        padding-bottom:0;
      }

      .archive.category .slide-item .rt-wrapper .entry-header h2 {
        height:180px;
        min-height:180px;
        max-height:180px;
        top:unset;
        overflow-y:visible;
        border-bottom:0px;
        margin-bottom:0;
        border:none;
        font-size:10vw;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:left;
        position:relative;
        line-height:7vw;
        padding-top:0;
        padding-bottom:0;
        padding:0 0;
      }

      .archive.category .slide-item .rt-wrapper .entry-header h2>a {
        position:relative;
        height:100%;
        width:100%;
      }


    /* ARCHIVE > POSTS [M] */

      /* ARCHIVE > POSTS > HEADER > OUTER WRAPPER [M] */

      .archive.category .type-post .entry-container .entry-header {
        padding:0 3vw;
        height:195px;
        width:100%;
        margin-top:-195px;
        overflow:visible;
      }

      /* ARCHIVE > POSTS > HEADER > INNER WRAPPER [M] */

      .archive.category #main .entry-title {
      }

      /* ARCHIVE > POSTS > HEADER > TEXT [M] */

      .archive.category article .entry-container .entry-header h2 #hspan3 {
        -webkit-text-stroke-width:.6;
      }

      /* ARCHIVE > POSTS > HEADER > TEXT [M] */

      .archive article .entry-container .entry-header h2 #hspan3  {
        font-family: "uniongrotesk";
        color: white;
        -webkit-text-stroke-width: .7px;
        -webkit-text-stroke-color: black;
        font-weight: normal;
        font-size: 8.7vw;
        line-height:7.5vw;
        left:0;
        overflow:visible;
        z-index:200;
        position:relative;
        display:block;
        margin:0 0;
        padding:0 0;
        border:0 0;
        z-index:5000px;
        min-height:200px;
        height:200px;
      }

      /* ARCHIVE > POSTS > IMAGE > OUTER WRAPPER [M] */


      /* ARCHIVE > POSTS > IMAGES > GREY OVERLAY [M]*/

      .archive.category #goverlay {
        position:relative;
        width:100%;
        min-height:190px;
        height:190px;
        margin-top:-190px;
        top:0;
        background: linear-gradient(0deg, rgba(255,255,255,0) 18%, rgba(0,0,0,1) 94%);
        opacity:.5;
      }

      /* ARCHIVE > POSTS > META [M]*/

      .archive .entry-meta a,
      .archive .entry-meta .tags-links>a,
      .archive .entry-meta .posted-on>a,
      .archive .entry-meta .cat-links>a,
      .single-post .entry-meta>a,
      .single-post .entry-meta .tags-links>a,
      .single-post .entry-meta .posted-on>a,
      .single-post .entry-meta .cat-links>a,
      .category .entry-meta>a,
      .category .entry-meta .tags-links>a,
      .category .entry-meta .posted-on>a,
      .category .entry-meta .cat-links>a
      {
        font-size:15px;
        color:silver;
        font-family:"work sans";
        font-weight:400;
        text-transform:uppercase;
        cursor:pointer;
        width:auto;
        height:10px;
        height:content;
        position:relative;
      }

      .archive .entry-meta a::after {
          font-size:13px;
      }

    }

  .archive .blog-posts-wrapper article:nth-of-type(2) #featuredthumb,
  .archive .blog-posts-wrapper article:nth-of-type(3)  #featuredthumb {
    height:40vw;
    max-height:40vw;
    min-height:40vw;
  }

    /*LATEST POSTS - WRAPPER*/


  .archive .section-content {
    height:content;
    width:100%;
  }


        /* LATEST POSTS TITLE FORMATTING 2 & 3*/


        @media (min-width:992px) { 
            .archive #main article:nth-of-type(2) h2 a,
            .archive #main article:nth-of-type(3) h2 a {
              bottom:39vw;
            }
          }



    /* ARCHIVE > HEADER IMAGE > IMAGE + TEXT WRAPPER */

    .archive .slide-item {
        display:block;
        background-position: center;
        background-size: 100%;
        background-color: white;
        overflow:visible;
      }
  
      /* ARCHIVE > HEADER > TEXT > OUTER WRAPPER */
  
      .category.archive .slide-item .rt-wrapper {
        display:block;
        height:min-content;
        max-height:min-content;
        min-height:min-content;
        position:relative;
      }
  
      /* ARCHIVE > HEADER > TEXT > INNER WRAPPER */
  
      .category.archive .slide-item .rt-wrapper .entry-header {
        height:min-content;
        min-height:min-content;
        max-height:min-content;
        position:relative;
        display:block;
        width:100vw;
        min-width:100vw;
        max-width:100vw;
        position:relative;
        top:0px;
        left:0px;
        -webkit-user-select: none; /* Safari */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+/Edge */
        user-select: none; /* Standard */
      }
  
      /* ARCHIVE > HEADER > TEXT */
  
      .archive.category .slide-item .rt-wrapper .entry-header h2 {
        height:min-content;
        min-height:200px;
        max-height:min-content;
        top:0px;
        overflow-y:visible;
        padding-bottom:0;
        border-bottom:0px;
        margin-bottom:0;
        border:none;
        font-size:10vw;
        display:flex;
        flex-direction:column;
        justify-content:flex-end;
        align-items:left;
        position:relative;
        line-height:7vw;
        padding-top:20px;
        padding-bottom:12px;
        -webkit-user-select: none; /* Safari */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+/Edge */
        user-select: none; /* Standard */
      }


    .archive #main h2 a span:nth-of-type(1) {
      display: inline-flex;
      width:content;
      line-height: 3.1vw;
    }

    .archive #main h2 a span:nth-of-type(2) {
      display: none;
      line-height: 3.1vw;
    }

    .archive #main h2 a span:nth-of-type(3) {
      display: inline-flex;
      height:180px;
      min-height:180px;
      max-height:180px;
      width:95%;
      line-height: 3.1vw;
    }



    /*POST CONTENT > HOVER MODIFIER (HIDDEN)*/
  
      .archive a:hover {
        text-shadow:none;
        -webkit-box-shadow: none ;
        -moz-box-shadow: none ;
        box-shadow: none ;
        -webkit-text-stroke-color:orange;
        color:transparent;
      }

      /*? ? ?*/

      .archive  #spanwrap #span3 {
        display:none;
      }
  
      @media (min-width:0px) and (max-width:700px) {

      .archive #main h2 a span:nth-of-type(1) {
        line-height:23px;
      }


    .archive #spanwrap #span1 {
        display:none;
      }


    .archive #spanwrap #span2 {
        display:none;
      }
  
      .archive #spanwrap #span4 {
            display:none;
          }
  
      .archive #spanwrap #span3 {
            display:inline;
          }

          .archive .cat-links {
            display:inline-block;
          }
          
    }


    .archive article .entry-container .entry-header .entry-title a:hover,
    .archive article .entry-container .entry-header .entry-title a:focus {
      color: white ;
      text-shadow: 1px 1px white
    }


    /*POST CONTENT > HOVER MODIFIER (HIDDEN)*/

    .archive a:hover {
        text-shadow:none;
        -webkit-box-shadow: none ;
        -moz-box-shadow: none ;
        box-shadow: none ;
        -webkit-text-stroke-color:orange;
        color:transparent;
      }


    /* HOME MOBILE MODIFIERS */

    @media (min-width: 0px) and (max-width: 767.98px) {

        .archive #main article  {
            flex-basis: 48.8%;
            max-width:48.8%;
            margin-bottom: 30px;
        }
    
        .archive #main article:nth-of-type(1n) {
            margin-right: 2%;
        }

        .archive #main article:nth-of-type(2n) {
            margin-right: 0%;
        }

        .archive #main article:nth-of-type(2n+2) {
            margin-right: 0%;
        }

        .archive h3.entry-title>a #hspan2 {
            display:none;
            }
    
      .archive #main #featuredthumb {
        height:46vw;
      }

      .archive .blog-posts-wrapper article:nth-of-type(2) #featuredthumb,
      .archive .blog-posts-wrapper article:nth-of-type(3)  #featuredthumb {
        height:46vw;
        max-height:46vw;
        min-height:46vw;
      }

      .archive #main article {
        flex-basis: 49.5%;
        max-width:49.5%;
        margin-bottom: 30px;
        padding:0 0;
        padding-left:0px;
        padding-right:0px;
      }

      .archive article:nth-of-type(1n) {
        margin-right: 1%!important;
      }

      .archive article:nth-of-type(1n+1){
        margin-right: 2%;
      }

      .archive article:nth-of-type(2n+1){
        margin-right: 0%!important;
      }

      .archive article:nth-of-type(2n+2) {
        margin-right: 0%;
      }

    /* LATEST POSTS TITLE FORMATTING [M] */

    .archive #main h2 a #hspan3{
        font-size: 4.5vw;
        line-height: 4.5vw;
        display:inline-block;
        /*text-shadow: .75px .75px white, 0px 0px black, 1.5px 1.5px black;*/
        word-break: break-word;
        -ms-word-break: break-word;
        word-wrap: break-word;
        overflow-wrap: break-word;
        hyphens:auto;
        -ms-hyphens:auto;
        -moz-hyphens:auto;
        -webkit-hyphens:auto;
        width:100%;
        min-width:100%;
        max-width:100%;
        top:0px!important;
    }

    .archive #main h2 a span:nth-of-type(1) {
      font-size: 4.5vw;
      line-height: 4.5vw;
      display:inline-block;
      /*text-shadow: .8px .8px white, 0px 0px orange, 1.8px 1.8px orange;*/
      width:100%;
      min-width:100%;
      max-width:100%;
      -webkit-text-stroke-width:.65px;
    }

    /* LATEST POSTS TITLE FORMATTING SPAN 1 [M] */

    .archive #main h2 a span:nth-of-type(1) {
    font-size: 4.5vw;
    line-height: 4.5vw;
    display:inline-block;
    /*text-shadow: .8px .8px white, 0px 0px orange, 1.8px 1.8px orange;*/
    width:100%;
    min-width:100%;
    max-width:100%;
    -webkit-text-stroke-width:.65px;
    }

    .archive #main article:nth-of-type(2) h2,
    .archive #main article:nth-of-type(2) h2,
    .archive #main article:nth-of-type(3) h2,
    .archive #main article:nth-of-type(3) h2
      margin-top:0px!important;
      margin-bottom:0px!important;
    }

    .archive #main h2 a,
    .archive #main h2 a {
      bottom:47.78vw;
      cursor:pointer;
      min-height:28vh;
      height:28vh;
    }

    .archive #main article {
      flex-basis: 48.9%;
      margin-bottom: 30px;
    }

}


@media (min-width: 768px) and (max-width: 991.98px) {

    /* HOME TABLET MODIFIERS*/

    .archive #main article:nth-of-type(1n) {
      margin-right: 2%;
    }

    .archive #main article:nth-of-type(2n) {
      margin-right: 0%;
    }

    .archive #main article:nth-of-type(2n+2) {
      margin-right: 0%;
    }

    .archive #main h2 a span:nth-of-type(1) {
      font-size: 4.7vw;
      line-height: 4.3vw;
      display:inline-block;
      /*text-shadow: .8px .8px white, 0px 0px orange, 1.8px 1.8px orange;*/
      width:44vw;
      -webkit-text-stroke-width:.65px;
    }

    .archive #main h2 a #hspan3 {
      font-size: 4.7vw;
      line-height: 4.3vw;
      display:inline-block;
      /*text-shadow: .75px .75px white, 0px 0px black, 1.5px 1.5px black;*/
      word-break: break-word;
      -ms-word-break: break-word;
      word-wrap: break-word;
      overflow-wrap: break-word;
      hyphens:auto;
      -ms-hyphens:auto;
      -moz-hyphens:auto;
      -webkit-hyphens:auto;
      width:100%;
      min-width:100%;
      max-width:100%;
    }

    .archive #main h2 a {
        bottom:44.5vw;
        cursor:pointer;
        width:120%;
        min-width:120%;
        max-width:120%;
      }

    /* LATEST POSTS - IMAGE HEIGHT [T] */

    .archive #main #featuredthumb {
        height:43vw;
    }

    .archive .blog-posts-wrapper article:nth-of-type(2) #featuredthumb,
    .archive .blog-posts-wrapper article:nth-of-type(3)  #featuredthumb {
        height:43vw;
        max-height:43vw;
        min-height:43vw;
    }
}


@media (min-width: 991.98px) and (max-width: 3000px){

    .archive article {
        flex-basis: 32%;
        max-width:32%;
        margin-bottom: 30px;
      }

      .archive #main article:nth-of-type(odd) {
        margin-right: 1.6%;
      }

      .archive #main article:nth-of-type(2n) {
        margin-right: 1.6%;
      }

      .archive #main article:nth-of-type(2n+2) {
        margin-right: 1.6%;
      }

      .archive #main article:nth-of-type(3n) {
        margin-right: 0%;
      }

      .archive #main article:nth-of-type(3n+3) {
        margin-right: 0%;
      }

    }






