
/* AUDIO PLAYER */

.single-post audio:focus {
    outline:none;
  }
  
  .single-post audio {
    background:transparent;
  }
  
  
  
  audio::-webkit-media-controls-timeline-container{
    background: transparent;
      background-color: transparent;
        color: transparent;
  }
  audio::-webkit-media-controls-enclosure {
      flex-shrink: 0;
      bottom: 0;
      text-indent: 0;
      padding: 0;
      box-sizing: border-box;
      background-color: transparent;
      -webkit-border-radius:0px;
      border:1px solid #B9B9B9;
  }
  audio::-webkit-media-controls-overlay-enclosure {
      color:transparent;
      border:1px solid orange;
  }
  audio::-webkit-media-controls-panel{
      -webkit-user-select: none;
      width: 100%;
      z-index: 0;
      overflow: hidden;
      text-align: right;
      background-color: transparent;
      border:1px solid orange;
      border-radius: 1px;
  }
  audio::-webkit-media-controls-timeline{
  }
  audio::-webkit-media-controls-timeline-container{
    color:orange;
  }
  audio::-webkit-media-controls-play-button,
  audio::-webkit-media-controls-mute-button,
  audio::-webkit-media-controls-current-time-display,
  audio::-webkit-media-controls-time-remaining-display {
    color:#181818;
  }
  audio::-webkit-media-controls-current-time-display{
  }
  
  .pushbottom{
    height:auto;
    min-height:none;
    max-height:auto;
     flex:1;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    margin:0 0;
  }
  
  .single-post .wp-block-audio figcaption {
    color:silver;
    margin-left:5px;
    margin-bottom:8px;
    margin-top:2px;
  }
  
  #fillerbox {
    height:auto;
    min-height:0px;
    max-height:auto;
     flex:1;
    display:flex;
    width:100%;
    border:1px solid gainsboro;
  }
  