
.postid-1  .wp-block-columns {
    margin-bottom:0px!important;
    margin-top:10px;
}

.postid-1  .wp-block-columns:nth-of-type(1) {
    margin-bottom:0px!important;
    margin-top:0px!important;
}

.postid-1 .wp-block-columns .wp-block-column {
  display:flex!important;
  flex-direction:column!important;
}

.postid-1 .wp-block-columns .wp-block-column p {
  padding-left:1px!important;
  white-space: normal!important;
}

.postid-1 .wp-block-columns .wp-block-column .wp-block-image {
  margin-bottom:5px!important;
  padding-bottom:0px!important;
  margin-top:5px!important;
  padding-top:0px!important;
}

.postid-1 .wp-block-columns .wp-block-column .wp-block-image {
  margin-bottom:5px!important;
  padding-bottom:0px!important;
  margin-top:5px!important;
  height:content!important;
  padding-top:0px!important;
  overflow:hidden!important;
  height:content!important;
  object-position: center bottom!important;
}

.postid-1 .wp-block-columns .wp-block-column .wp-block-image img {
  object-position: center bottom!important;
  top:unset!important;
  bottom:inherit!important;
  object-fit:cover!important;
  height:750px!important;
}

.postid-1 .entry-content > .wp-block-image:last-of-type {
  margin-top:0px!important;
}


.postid-1 .wp-block-columns .wp-block-column:nth-of-type(2) {
  display:flex!important;
  flex-direction:column!important;
  margin-left:17px!important;
}

.postid-1 .wp-block-columns .wp-block-column:nth-of-type(1) p {
  padding-right:5px!important;
}

.postid-1 .wp-block-columns .wp-block-column:nth-of-type(2) p {
  margin-top:12px!important;
}

.postid-1 .wp-block-group .wp-block-group__inner-container {
  padding: 13px 0px!important;
}

.postid-1 .wp-block-columns .wp-block-column:nth-of-type(2) {
  display:flex!important;
  flex-direction:column!important;
  margin-left:17px!important;
}

.postid-1 article {
  padding-bottom:0px!important;
  margin-bottom:0px!important;
}

.postid-1 #footer {
  margin-top:0px!important;
}

/*BE WATER [MOBILE]*/

@media (min-width:0px) and (max-width:700px) {

  .postid-1 .entry-header>h2 {
    font-size:12.5vw!important;
    line-height:11.5vw!important;
    padding-bottom:4px!important;
    margin-top:2px!important;
    -webkit-text-stroke-width: .65px!important;
  }

  .postid-1 .wp-block-columns {
    flex-direction:column!important;
    margin:0 0!important;
  }

  .postid-1 #main p {
    padding-left:2.5vw!important;
    padding-right:2.5vw!important;
  }

  .postid-1 .wp-block-columns .wp-block-column:nth-of-type(2) .wp-block-image {
    order: 2!important;
  }

  .postid-1 .wp-block-columns .wp-block-column:nth-of-type(2) p {
    order: 1!important;
  }

  .postid-1 .wp-block-columns .wp-block-column:nth-of-type(2) {
    margin-left:0px!important;
  }

  .postid-1 .wp-block-group .wp-block-group__inner-container {
    padding: 13px 0px!important;
    margin:0 0!important;
  }

  .postid-1 .wp-block-columns .wp-block-column .wp-block-image img {
      height:450px!important;
  }

  .postid-1 .wp-block-group .wp-block-group__inner-container>:nth-of-type(1) {
    margin-top:0px!important;
  }

  .postid-1 .wp-block-group .wp-block-group__inner-container>:nth-of-type(1) {
    margin-top:0px!important;
  }

  .postid-1 .wp-block-group .wp-block-group__inner-container {
    margin-top:0px!important;
    padding-bottom:0px!important;
  }


  .postid-1 article {
   padding-bottom:0px!important;
   margin-bottom:0px!important;
  }

  .postid-1 #footer{
   margin-top:0px!important;
  }

  .postid-1 .wp-block-image {
    margin-left:0!important;
    margin-right:0!important;
    padding-left:2.5vw!important;
    padding-right:2.5vw!important;
    width:auto!important;
    max-width:auto!important;
    min-width:auto!important;
  }

    .postid-1 .wp-block-image:last-of-type {
    padding-left:2.5vw!important;
    padding-right:2.5vw!important;
    width:auto!important;
    max-width:auto!important;
    min-width:auto!important;
  }

}
