

/*KEMI POC:STEM*/


.postid-584  .wp-block-columns{
    margin-bottom:10px!important;
    margin-top:0px!important;
  }

.postid-584 .wp-block-columns .wp-block-column {
  display:flex!important;
  flex-direction:column!important;
}

.postid-584 .wp-block-columns .wp-block-column p {
  padding-left:1px!important;
  white-space: normal!important;
}

.postid-584 .entry-content>p{
  margin-bottom:15px!important;
}

.postid-584 .wp-block-column>p{
  margin-bottom:15px;
}

.postid-584 .wp-block-column>p:nth-of-type(1){
  margin-top:0px!important;
}

.postid-584 .wp-block-group p {
  margin-top:0px!important;
  margin-bottom:10px!important;
}

.postid-584 .wp-block-group:nth-of-type(1) .wp-block-group__inner-container {
  padding:0 0!important;
  padding-bottom:0px!important;
  padding-top:0px!important;
}

.postid-584 .wp-block-group:nth-of-type(1){
  margin-bottom:20px;
}


.postid-584 .wp-block-columns .wp-block-column .wp-block-image {
    margin-bottom:15px;
    padding-bottom:0px!important;
    margin-top:5px;
    height:content!important;
    padding-top:0px!important;
    overflow:hidden!important;
    height:content!important;
    object-position: center bottom!important;
}



.postid-584 .wp-block-columns .wp-block-column .wp-block-image img {
    object-position: center bottom!important;
    top:unset!important;
    bottom:inherit!important;
    object-fit:cover!important;
    height:auto!important;
    width:100!important;
}


.postid-584 > .wp-block-image:nth-of-type(1) {
  height:content!important;
  margin-top:5px;
  margin-bottom:30px;
  display:flex!important;
  align-items:row!important;
  justify-content: center!important;
}


.postid-584 .wp-block-columns .wp-block-column:nth-of-type(2) {
  display:flex!important;
  flex-direction:column!important;
  margin-left:17px;
}

.postid-584 .wp-block-columns .wp-block-column:nth-of-type(1) p {
  padding-right:5px!important;
}

.postid-584 .wp-block-columns .wp-block-column:nth-of-type(2) p {
}

.postid-584 .wp-block-group .wp-block-group__inner-container {
  padding: 13px 0px!important;
}




@media (min-width:0px) and (max-width:3000px) {

  .postid-584 .wp-block-image:nth-of-type(1) {
    height:content!important;
    display:flex!important;
    align-items:row!important;
    justify-content: center!important;
    overflow: hidden!important;
  }

  .postid-584 .wp-block-image:nth-of-type(1) img {
    width:100%!important;
  }

.postid-584 .wp-block-columns .wp-block-column {
  display:flex!important;
  flex-direction:column!important;
  height:inherit!important;
  justify-content: flex-end!important;
  margin-bottom:10px!important;
}

.postid-584 .wp-block-columns .wp-block-column .wp-block-image {
  justify-self: end!important;
  top:unset!important;
  bottom:unset!important;
  margin:0 0!important;
}

.postid-584 .wp-block-columns .wp-block-column:nth-of-type(2) {
  display:flex!important;
  flex-direction:column!important;
  margin-left:17px;
}

.postid-584 .wp-block-columns {
  display:flex!important;
  flex-direction:row!important;
}

.postid-584 .wp-block-columns:nth-of-type(1) .wp-block-column:nth-of-type(1) {
  width:50.75%!important;
  flex-basis:50.75%!important;
}

.postid-584 .wp-block-columns:nth-of-type(1) .wp-block-column:nth-of-type(2) {
  width:46.75%!important;
  flex-basis:46.75%!important;
  padding-left:0!important;
  margin-left:2.5%;
}

.postid-584 .wp-block-columns:nth-of-type(2) .wp-block-column:nth-of-type(1) {
  width:46.75%!important;
  flex-basis:46.75%!important;
  padding-left:0!important;
}

.postid-584 .wp-block-columns:nth-of-type(2) .wp-block-column:nth-of-type(2) {
  width:50.75%!important;
  flex-basis:50.75%!important;
  margin-left:2.5%;
}


.postid-584 .wp-block-column>p:nth-of-type(1){
  margin-top:0px!important;
  padding-top:0px!important;
}

}


@media (min-width:0px) and (max-width:700px) {

.postid-584 .wp-block-column p:last-of-type{
  margin-bottom:0px!important;
}
}
/*

.postid-584 .wp-block-column .wp-block-image {
  margin-top:0px!important;
  padding-top:0px!important;
  margin:0 0!important;
}


.postid-584 .wp-block-column {
  margin-top:0px!important;
  padding-top:0px!important;
  margin:0 0!important;
  padding:0 0!important;
}
}
*/




@media (min-width:0px) and (max-width:900px) {


    .postid-584 .wp-block-columns {
      flex-direction:column!important;
      display:flex!important;
      height:content!important;
    }

    .postid-584 .wp-block-columns:nth-of-type(1) .wp-block-column:nth-of-type(1) {
      margin-top:15px!important;
    }

    .postid-584 .wp-block-column {
      width:100%!important;
      min-width:100%!important;
      height:content!important;
      min-height:content!important;
      margin-left:0px!important;
    }

    /*.postid-584 .wp-block-columns:nth-of-type(2) .wp-block-column:nth-of-type(2){
      order:1 !important;
    }

    .postid-584 .wp-block-columns:nth-of-type(2) .wp-block-column:nth-of-type(1){
      order:2 !important;
    }*/

    .postid-584 .wp-block-columns .wp-block-column:nth-of-type(2) {
      margin-left:0px!important;
      padding-left:0px!important;
    }

    .postid-584 .wp-block-columns:nth-of-type(2) .wp-block-column:nth-of-type(2) {
      margin-top:20px!important;
    }

    .postid-584 .wp-block-columns .wp-block-image {
      margin-top:20px;
      margin-bottom:0px;
    }

    .postid-584 .wp-block-columns .wp-block-image:nth-of-type(2),
    .postid-584 .wp-block-columns .wp-block-image:nth-of-type(3) {
      margin-top:0px!important;
      margin-bottom:0px!important;
    }

    .postid-584 .wp-block-group .wp-block-group__inner-container {
      padding: 13px 0px!important;
      margin:0 0!important;
    }

    .postid-584 .wp-block-columns {
      padding-top:0!important;
      margin-top:0!important;
    }

    .postid-584 .wp-block-group p {
      margin-top:0px!important;
      margin-bottom:10px!important;
    }

    .postid-584 .wp-block-group:nth-of-type(1) {
      margin-top:0px!important;
      margin-bottom:20px!important;
    }


    .postid-584 .wp-block-columns .wp-block-column .wp-block-image img {
        height:auto!important;
        width:100%!important;
    }

    .postid-584 .wp-block-group .wp-block-group__inner-container>:nth-of-type(1) {
      margin-top:0px!important;
    }

    .postid-584 .entry-header>h2 {
      margin-left:0px!important;
    }

  }
