
  /*ARAMIDE ART*/

  .postid-912 .entry-header span:nth-of-type(1) {
      display:inline-block!important;
      -webkit-text-stroke-color:orange;
      width:100vw!important;
      min-width:100vw!important;
  }

  .postid-912 .entry-header span:nth-of-type(1)::after {
      content:":";
      margin-left:-25px!important;;
  }

  .postid-912 #hspan3 {
    display:inline-block;
      height:max-content!important;
      margin-top:5px
  }



  .postid-912 .wp-block-columns {
    margin-bottom:0!important;
    padding:0 0!important;
    margin-left:10vw!important;
    margin-right:10vw!important;
  }
  .postid-912 .entry-header>h2 {
    position:hidden!important;
    overflow:hidden!important;
    overflow-y:hidden!important;
    margin-left:10vw!important;
    height:max-content!important;
    padding-top:9px!important;
  }
  .postid-912 .entry-header {
    position:relative!important;
    overflow:scroll!important;
    overflow-y:scroll!important;
  }
  .postid-912 .entry-title {
    height:max-content!important;
    overflow-y:visible!important;
  }
  .postid-912 .wp-block-image {
    margin-top:0!important;
  }
  .postid-912 #footer {
  margin-top:0px!important;
  margin-left:10vw!important;
  }
  .postid-912 .entry-meta {
  margin-left:10vw!important;
  }




  @media (min-width: 0px) and (max-width: 700px) {
    .postid-912 .wp-block-columns {
      margin-bottom:0!important;
      padding:0 0!important;
      margin-left:0vw!important;
      margin-right:0vw!important;
    }
    .postid-912 .entry-content > .wp-block-image {
      margin-left:2.5vw!important;
      margin-right:2.5vw!important;
      width:auto!important;
    }
    .postid-912 p {
      width:100%!important;
      padding:0 0!important;
    }
    .postid-912 #aramidecolleft {
      width:100%!important;
      max-width:100%!important;
      min-width:100%!important;
      padding-left:2.5vw!important;
      padding-right:2.5vw!important;
      margin:0 0!important;
    }
    #aramidedesccolumn {
      display:flex!important;
      flex-direction:column!important;
      margin-left:2.5vw!important;
      margin-right:2.5vw!important;
    }
    #aramidedesc{
      margin-left:0!important;
      margin-right:0!important;
    }
  #aramidecolright {
    width:100%!important;
    max-width:100%!important;
    min-width:100%!important;
    padding:0 2.5vw!important;
  }
  .postid-912 .entry-header>h2,
  .postid-912 .entry-meta,
  .postid-912 #footer {
      margin-left:2.5vw!important;
  }
  }
