/* NOAH CHULU-CHINN */

.tag-15 .slide-item {
  background-image:url("./../../../uploads/2021/01/noahcc.jpg")!important;
  background-position:20% 10%!important;
  background-size:80%!important;
}

.tag-15 .entry-header h2 em{
  font-size:7vw!important;
  line-height:7vw!important;
}

.tag-15 .rt-wrapper h2 #jflm span {
  display:inline-block!important;
}

@media (min-width:0px) and (max-width:700px) {

.tag-15 .rt-wrapper h2 #jflm span {
  display:inline-block!important;
}

.tag-15 #custom-header-media{
  height:fit-content;
  max-height:fit-content;
  min-height:fit-content;
}

.tag-15 .rt-slider-wrapper {
  height:content!important;
  max-height:content!important;
  min-height:content!important;
}

.tag-15 .slide-item .rt-wrapper {
  height:fit-content!important;
  max-height:fit-content!important;
  min-height:fit-content!important;
}

.tag-15 .slide-item .rt-wrapper .entry-header {
  display:flex!important;
  flex-direction:column!important;
  height:fit-content!important;
  max-height:unset!important;
  min-height:fit-content!important;
  overflow-y:hidden!important;
  width:100vw!important;
  min-width:100vw!important;
  max-width:100vw!important;
  position:relative!important;
  top:0px!important;
  left:0px!important;
}

.tag-15 .slide-item h2{
  height:fit-content!important;
  display:flex!important;
  flex-direction:column!important;
  justify-content: flex-end!important;
  width:100%!important;
  font-weight: normal;
  padding-bottom:0!important;
  border-bottom:0px!important;
  margin-bottom:0!important;
  border:none!important;
  font-size:10vw!important;
}

.tag-15 #custom-header-media .entry-title {
  height:fit-content!important;
  max-height:fit-content!important;
  min-height:fit-content!important;
  display:flex!important;
  flex-direction:column!important;
  justify-content: flex-end!important;
  width:100%!important;
  font-weight: normal;
  padding-bottom:0!important;
  border-bottom:0px!important;
  margin-bottom:0!important;
  border:none!important;
  font-size:10vw!important;
  flex-basis: fill!important;
}


.tag-15 .entry-header h2 em {
  color:white!important;
  font-family: "jgothicbold1"!important;
  color:transparent!important;
  -webkit-text-stroke-width: 1.3px!important;
  -webkit-text-stroke-color: black!important;
  font-weight: normal;
  font-size:12vw!important;
  line-height:12vw!important;
  display:inline-block!important;
  position:relative!important;
  left:0px!important;
  top:0px!important;
  transform:0 0!important;
  bottom:unset!important;
  padding:0 0!important;
  margin:0 0!important;
  vertical-align:flex-end!important;
  align-self: flex-end!important;
  float:bottom!important;
  padding-left:unset!important;
  font-style: normal!important;
  z-index:50000!important;
  opacity:1!important;
  min-height:fit-content!important;
  height:fit-content!important;
  max-height:fit-content!important;
  padding-left:0px!important;
  margin-top:15px!important;
  margin-bottom:12px!important;
  margin-left:15px!important;
}

.tag-15 .slide-item .rt-wrapper .entry-header h2 em {
  padding-left:0px!important;
}

.tag-15 #jflminnerleft {
  padding-left:4.7vw!important;
  padding-right:3.8vw!important;
  padding-top:10px!important;
  padding-bottom:15px!important;
  font-size:13.8px;
  width:41vw;
}

.tag-15 #jflminnerright {
  padding-left:4.7vw!important;
  padding-right:1.8vw!important;
  padding-top:10px!important;
  padding-bottom:15px!important;
  font-size:13.8px;
}

}
